<ion-content>
  <div class="heading">
    <h1>MecaniApp</h1>
    <br>
    <hr />
    <p>Busca el servicio que requieras, puedes filtrar tus respuestas
      según el taller mecánico más cercano</p>
  </div>
  <br><br>
  <div text-center>
    <p align="center"><img height="293px" width="400px" src="../../assets/images/Allura - Working Remotely.png"
        alt="register"></p>
  </div>
  <br>
  <p align="center">
    <ion-button routerLink="/welcome3">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Siguiente
    </ion-button>
  </p>

</ion-content>