<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon>
    <ion-title>Notificaciones y Quejas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col class="modules">
        <img src="../../assets/images/lista.png" routerLink="/orders">
        <p class="text">Visualizar ordenes de trabajo</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="modules">
        <img src="../../assets/images/queja.png" routerLink="/complain">
        <p class="text">Crear queja</p>
      </ion-col>
      <ion-col class="modules">
        <img src="../../assets/images/quejas.png" routerLink="/viewcomplain">
        <p class="text">Visualizar quejas</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

