<ion-content>
  <div class="heading">
    <h1>MecaniApp</h1>
    <br>
    <hr />
    <p>Crea una cuenta e inicia sesión en nuestra
      aplicación móvil y conéctate con más de 50 talleres
      mecánicos registrados</p>
  </div>
  <br>
  <div text-center>
    <p align="center"><img src="../../assets/images/Allura - User Interface 4.png" alt="register"></p>
  </div>
  <br>
  <p align="center">
    <ion-button routerLink="/welcome2">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Siguiente
    </ion-button>
  </p>

</ion-content>