ion-icon{
    margin-top: -20px;
    float: right;
    color: rgba(244,196,51,1);
    font-size: 20px;
}
agm-map {
  height: 90%;
  width: 100%;
}
ion-title{
  font-size: 25px;
}
#map{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map{
    opacity: 1;
  }
}
#indicators {
  padding: 16px;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  display: block;
}

